.pager {
  position: absolute;
  height: 100%;
  width: 50%;
  margin: 0px;
}

.show{
  display: block;
}

.guide {
  display: none;
  background-image: url(public/tap.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.prev {
  top: 0px;
  left: 0px;
}

.next {  
  top: 0px;
  right: 0px;
}

.bottom {
  bottom: 0px;
  width: 100%;
  height: 50%;
}

#reader {
  padding: 40px;
}

#profile {
    width: 100%;
    height: 90%;
    position: absolute;
    bottom: 0px;
    background-color: white;
}

#profile div {
    margin-top: 5px;
    margin-bottom: 5px;
}

#introduction {
    margin: 20px;
    text-indent: 2em;
    text-align: justify;
}

#introduction div {
    margin-top: 15px;
    margin-bottom: 15px;
}

.black-cover {
    background-color: black;
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    top: 0px;
}


.blur {
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);    
}

.center-block {
    text-align: center;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-center * {
    margin: 0 15px;
}

.row {
    margin: 0px;
}

.table-content {
    width: 90%;
    margin: 0 auto;
}