#introduction {
  text-align: justify;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.introduction-cover {
  width: 100%;
  margin-bottom: 10px;
}

.introduction-head {
  height: 64px;
  width: 64px;
  margin: 0 auto 9px auto;
}

.introduction-name {
  color: #4dcdb5;
  margin: 0 auto 16px auto;
  font-size: 20px;
}

.introduction-content {
  margin: 0 15px;
  font-size: 15px;
}