body {
  margin: 0px;
  font-family: "Microsoft YaHei",Helvetica,"Hiragino Sans GB",Arial,sans-serif;
  color: #575662;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

p {
  margin: 0px;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
}

.pager {
  position: absolute;
  height: 100%;
  width: 50%;
  margin: 0px;
}

.prev {
  top: 0px;
  left: 0px;
}

.next {  
  top: 0px;
  right: 0px;
}

.bottom {
  bottom: 0px;
  width: 100%;
  height: 50%;
}

#reader {
  padding: 40px;
}

.black-cover {
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
}

.menu-cover {
  opacity: 0;
  display: none;
}

.blur {
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);    
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-center * {
    margin: 0 15px;
}

.row {
    margin: 0px;
}

.table-content {
    width: 90%;
    margin: 0 auto;
}

.alert {
  position: fixed;
  top: 25%;
  left: 8%;
  width: 86%;
  height: auto;
  display: none;
}

.alert-body:before {
    content: " ";
    display: block;
    background-image: url("/bombbox_up.png");
    background-size: 100% 100%;
    height: 93px;
}

.alert-body {
  height: 70%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 16px;
}

.alert > button {
  background-image: url("/bombbox_down.png");
  background-size: 100% 100%;
  font-size: 18px;
  width: 100%;
  height: 93px;
  padding-top: 40px;
}

.alert-body > div {
  background-color: #56e4c9;
  padding: 0 15px;
}

.alert-cover {
  opacity: 0.6;
  display: none;
}

.center-block {
  margin: auto;  
  top: 0; left: 0; bottom: 0; right: 0;  
  text-align: center;
}
